.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 4rem;
  margin: 0 auto;
  margin-top: 70px;
}

.todoListContainer {
  width: 500px;
  /* background-color: red; */
}