.formContainer input {
  width: 400px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.formContainer button {
  background-color: #4b82d0;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.formContainer .updateTodo button {
  width: 400px;
  margin-top: 15px;
  background-color: rgb(218, 17, 17);
  color: #fff;
}

.formContainer button:hover {
  background-color: #226acd;
}