.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 10px;
  border-radius: 8px;
}

.editBtn,
.completeBtn,
.removeBtn {
  border: none;
  padding: 6px;
  cursor: pointer;
  color: #303030;
  background-color: #fff;
  border-radius: 3px;
}

.completeBtn,
.removeBtn {
  margin-left: 15px;
}

.editBtn {
  color: #27b112;
  border: 1px solid #27b112;
}

.completeBtn {
  border: 1px solid #085cec;
  color: #085cec;
}

.removeBtn {
  border: 1px solid #dd0d0d;
  color: #dd0d0d;
}

.completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 10px;
  border-radius: 8px;
  text-decoration: line-through;
  color: red;
}